// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
  border-collapse: collapse;
  margin: 0 auto .5em auto;
  padding-top: 40px;
  width: auto;
  border: 2px solid black;

  tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background-color: #000;
  }

  tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
    background-color: #FFF;
  }

  tr, td {
    border: 1px solid black;
  }

  td {
    width: 60px;
    height: 60px;
    padding: 0;
  }
}